#root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 36px 0;
}

.post {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #242526;
}

.button {
  background-color: chocolate;
}
